 /*   mobile css   */
body {
  margin: 0;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
}

.text {
  width: 80%;
  font-family: Times;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #707070;
}

.logo {
  width: 10em;
  margin: 5% auto;
}

.logo svg {
  background: transparent;
  right: -10%;
  position: relative;
}

.bold {
  font-weight: bold;
}

a {
  font-weight: bold;
  color: #9C22AE;
  text-decoration: none;
}

.parrots {
  position: absolute;
  width: 100%;
  top:0;
  left:0;
}

.parrot {
  width: 400px;
  fill-opacity: 0.10;
}

.parrot.left {
  position: absolute;
  top:-20%;
  left: 0%;
  margin-left: -150px;
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.parrot.right {
  position: absolute;
  right: -270px;
  bottom: -170px;
  bottom: -20%;
}

/*   only for mobile css   */

@media (max-width: 599px) {
  .wrapper {
    margin: 10% auto;
  }

  p {
    margin: 30px 0;
  }
}


 /*   tablet css   */

@media (min-width: 600px) {
  .wrapper {
    margin: 15% auto;
  }

  .text {
    font-size: 18px;
    color: #707070;
  }

  .logo {
    margin: 5% auto;
  }
}

 /*   desktop css   */

@media (min-width: 960px) {
  .wrapper {
    margin: 2% auto;
  }

  .text {
    font-size: 22px;
    color: #707070;
  }
}
